@import url('./styles/accessibility.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-muted;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

.premium-scrollbar::-webkit-scrollbar-track {
  @apply bg-background;
}

.premium-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-border;
}

.radix-themes {
  color-scheme: light;
}

.dark .radix-themes {
  color-scheme: dark;
}
